@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
  font-family: "SF Pro Display";
  src: url("../webfonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../webfonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../webfonts/SFPRODISPLAYMEDIUM.woff2') format('woff2'),
    url('../webfonts/SFPRODISPLAYMEDIUM.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SF Pro Display", sans-serif;
  overflow-x: hidden;
}


:root {
  --primary-font: "Space Grotesk", sans-serif;
  --secondary-font: "SF Pro Display", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;

}

h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  text-transform: capitalize;
  font-size: clamp(27px, 3vw, 45px);
  line-height: 1.2;
  margin-bottom: 5px;

}

h3 {
  font-family: Space Grotesk, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-middle {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.center-align {
  text-align: center;
}



/* nav section */
.header-nav {
  position: relative;
  color: black;
  background-color: white;
  border-radius: 52px;
  padding: 0px 10px;
  margin-top: 10px;
  font-family: var(--secondary-font);
}


.header-nav img {
  height: 65px;

}


header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 95px;
  z-index: 999;
}


a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.btn:hover {
  background-color: #dcdcdc;
}

.gradient-btn:hover {
  background: linear-gradient(102.5deg, #E0AA32 16.16%, #95A240 55.19%, #317C29 94.23%);
}

.chevron {
  gap: 5px;
}

.navbar ul li,
.nav ul li {
  list-style: none;

}

.nav {
  gap: 30px;
  padding: 5px 0;
}


.nav-btn {

  gap: 15px;
}



/* .menu-header {
  display: none ;
  
} */
.offcanvs-menu {
  display: none;
}




.offcanvs-menu {
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  left: -100%;
  transition: left 0.5s ease-in-out;
}

#masthead.active .offcanvs-menu {
  left: 0;
}

#masthead.active .bg-overlay {
  left: 0;
}

.bg-overlay {
  display: block;
  background-color: rgba(20, 20, 20, 0.373);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.5s ease-in-out;
}


#masthead .offcanvs-menu ul li:nth-child(odd) {
  background-color: #f9f9f9;
  
}


.offcanvs-menu .primary-menu {
  display: none;
}

.offcanvs-menu .secondary-menu ul {
  flex-direction: column;
}



/* Offcanvas dropdown wrapper */
.offcanvs-dropdown {
  max-height: 0;
  /* Collapsed by default */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background: #f9f9f9;
  border-radius: 6px;
  /* margin-top: 5px; */
  padding-left: 10px;
}

/* When open */
.offcanvs-dropdown.show {
  max-height: 500px;
  /* adjust based on content */
}

/* Submenu UL */
.offcanvs-dropdown-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Submenu links */
.offcanvs-dropdown-nav li a {
  display: block;
  padding: 10px 15px;
  font-size: 15px;
  color: #333;
}

.offcanvs-dropdown-nav li a:hover {
  background: #eaeaea;
  border-radius: 4px;
  color: #317C29;
}

/* ****************** */

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px; */
  margin: 0 10px;
}


.offcanvs-menu .nav-btn {
  display: none;
}

.offcanvs-menu .nav {
  gap: 0;
  padding: 0;
}



.dropdown {
  display: none;
}

.dropdown.show {
  display: block;
}

.offcanvs-menu .dropdown {
  display: none;
  transition: all 0.3s ease;
}


/* 
header#masthead.active .secondary-menu .nav {
    flex-direction: column;
    background: white;
    position: fixed;
    top: 0;
    max-width: 400px;
    width: 100%;
    height: 100%;
} */

/* .navbar.active {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  
  top: 0;           
  width: 100%;
  z-index: 1100; 
  } */


/* .navbar.active {
  background: rgb(255, 255, 255);
  left: 0;
  max-width: 400px;
  height: 100%;
  top: 0;
  width: 100%;
  display: block;
  position: fixed;
} */



.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  border-radius: 8px;
  transition: all 5.3s ease;
  box-shadow: -5px -5px 6px #9b9a9a;
  margin-top: 3px;
  top: 60px;
}

.dropdown::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
  top: -20px;
  position: absolute;
}


.dropdown-nav {
  position: relative;

}

.offcanvs-menu .dropdown {

  position: static;
  background-color: white;
  min-width: 180px;
  border-radius: 8px;

  box-shadow: none;
  margin-top: 3px;
}


.navbar ul li:hover .dropdown {
  display: block;
}



.dropdown-nav {
  margin: 0;
  padding: 10px 0;
}


.dropdown-nav li a {
  padding: 10px 20px;
  display: block;

}

.dropdown-nav li a:hover {
  background-color: #f4f4f4;
  color: #317C29;
  border-radius: 4px;
}

/* .secondary-menu {
  margin: 20px 0;
} */

.chevron i,
.chevron-navbar i {
  font-size: 10px;
  margin-top: 6px;
 
}

.chevron-navbar{
  gap: 5px;
}

.offcanvas-menu .nav>li:nth-child(odd) {
  background-color: #f9f9f9;
  /* padding: 10px 0; */
}

 .offcanvas-menu .nav>li:nth-child(even) {
  background-color: #ffffff;
}

.offcanvs-menu ul li {

  padding: 10px;
}

/* 

.secondary-menu {
  display: none;
}


.navbar .secondary-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: white;

  max-width: 400px;
  z-index: 1000;
}


.navbar.active .secondary-menu {
  background: rgb(255, 255, 255);
  left: 0;
  max-width: 400px;
  height: 100%;
  top: 0;
  width: 100%;
  display: block;
}

.navbar .secondary-menu ul {
  flex-direction: column;
  gap: 15px;
  width: 100%;
} */

/* .menu-header {
        display: flex
;
        justify-content: space-between;
        align-items: center;
        
        margin: 0 10px;
    } */

.btn {
  border: 1px solid white;
  border-color: black;
  border-radius: 12px;
  padding: 5px 15px;
  color: black;
  align-items: center;
  display: inline-flex;
  gap: 8px;
}

.gradient-btn {
  box-shadow: black 3px 3px 0px;
  background: linear-gradient(102.5deg, #317C29 16.16%, #95A240 55.19%, #E0AA32 94.23%);
  color: white;
}

.gradient-btn img {

  height: 20px;
  margin: 2px;
}





/* banner section */
.banner__section {
  background: linear-gradient(180deg, #EFF1D6 0%, #E0E4B2 40.29%, #C9D185 70.14%, #6BC860 100%);
  text-align: center;
  /* position: relative;
  z-index: 0; */
  flex-direction: column;

}

.banner__content {
  position: relative;
  padding-top: 95px;
  bottom: -62px;

}





.get__started {
  padding-top: 40px;

}

.get__started_btn {
  padding: 15px 20px;
}

.handbulb {
  width: 426px;
  max-width: 100%;
  height: auto;
  position: relative;

}


.yellow {
  color: #CF8F28;
}


.green {
  color: #337C29;
}


.line {
  height: 2px;
  width: 100%;
  background-color: black;




}

.menu-bar {

  border-radius: 50%;
  border: 1px solid black;

  padding: 15px;
  cursor: pointer;

}

.menu-bar:hover{
  background-color:#dcdcdc ;
}

.menu-close {
  cursor: pointer;
}




/* whystepup section */

.whystepup_section {
  padding: 30px 0;

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;

}



.whystepup_section_h {
  text-align: center;
  padding: 5px 0;
}

.whystepup_section_para {
  padding-bottom: 35px;
  text-align: center;
}

.card {
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: black 6px 6px 4px;
  background: #EFF1D6;
  padding: 20px;

}

.card h3 {
  margin-top: 10px;
}



/* join_movement_section  */
.join_movement_section {
  background-color: #EFF1D6;
  padding: 50px 0;

}


.gridbox1,
.gridbox2,
.gridbox3 {
  box-shadow: black 7px 7px 0px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px;
}


.parentgrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  gap: 25px;
  padding: 30px 0;
}

.gridbox1 {
  grid-column: span 4 / span 4;
  grid-column-start: 3;
  background-color: #FDD163;
}

.gridbox2 {
  grid-column: span 4 / span 4;
  grid-column-start: 7;
  background-color: #9EDF96;
}

.gridbox3 {
  grid-column: span 8 / span 8;
  grid-column-start: 3;
  background-color: #FECEC1;
}






.outlined-text {
  color: black;
  /* text fill color */
  -webkit-text-stroke: 2px white;
  /* white outline */
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-weight: bold;
}

.parentgrid h2 {
  /* font-size: 55px; */
  font-size: clamp(34px, 3vw, 55px);

}

.join_movement_img {
  width: 80px;
}

.flx-img {
  /* width: 445px; */
  width: 380px;
  height: 330px;
  border-radius: 20px;
}

.gridbox1 img,
.gridbox2 img,
.gridbox img {
  padding: 10px 10px 110px 10px;
}


/* register now section */
.register_now_section {
  text-align: center;
  padding: 50px 0;
}

.features-container {

  gap: 30px;
  justify-content: center;
  padding: 40px;

}

.feature-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}



.card1 {
  background-color: #9EDF96;
}


.card2 {
  position: relative;
  background-image: url("../img/twogirls.png");
  color: white;
  background-size: cover;
  background-position: center;
  padding-top: 344px;
  border-radius: 10px;
}

.card2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
}

.card2 * {
  position: relative;
  z-index: 2;
}


.card3 {
  background-color: #FECEC1;

}

.card1 img,
.card3 img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;

}

.card3 img {
  margin-bottom: 0;
}


.card3_bg {
  background-color: #EFF1D6;
  border-radius: 10px;
  height: auto;
  width: 100%;
  margin-bottom: 25px;
}





.video-banner {
  background-color: #317C29;
  border-radius: 20px;
  padding: 5px;


}

.video img {
  width: 300px;
}

.video,
.text,
.photos {
  padding: 15px;
}

.text {
  text-align: left;
  color: white;
  margin-top: 90px;
  padding-right: 20px;
}

.photos img {
  width: 210px;
  margin-top: 60px;
}

/* fifth section */
.ready_section {
  background-color: #EFF1D6;
}

.ready_section h2,
.ready_section h3,
.ready_section p {
  margin: 10px 0;
}

.ready_section h2 {
  padding-top: 80px;
}

.stepup_movement_btn {
  margin: 50px auto;
}


.ready_section_img {
  margin-top: 200px;
}







/* footer */
.footer {
  background-color: #241E1E;
  color: white;
  margin-top: -5px;
}

.firstgrid_h3 {
  margin: 20px 0;
}

.four-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px
}


.explore_grid,
.contact-info,
.subscribe {
  margin-top: 95px;

}

.explore_grid h3 {
  padding-bottom: 10px;
}

.explore_grid h3 {
  margin-left: 22px;

}




.subscribe-form input {
  border: none;
  background: none;

}

.subscribe-btn a {
  padding: 10px 20px;
}


.subscribe-form {
  border: 1px solid white;
  box-shadow: 5px 3px 0px rgba(255, 255, 255, 10);
  border-radius: 10px;
  padding: 4px;
}

footer li a {
  color: rgba(255, 255, 255, 0.755);
}


.subscribe img {
  width: 300px;
}

footer p,
footer li {
  font-family: SF Pro Display, sans-serif;
  font-weight: 500;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.755);
}

.circle {
  gap: 5px;
}

.circle-bg {
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}

.circle i {
  color: black;
}

.grey-bg {
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  height: 28px;
  margin-right: 5px;
}

hr {
  border: none;
  border-top: 1px dashed rgba(255, 255, 255, 1);
  margin: 20px 0;
}

.footer-bottom p {
  font-family: SF Pro Display, sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.we_accept {
  text-align: center;
  font-size: 34px;
  margin-bottom: 10px;
}


.payment {
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: clamp(12px, 2vw, 20px);
  gap: 0;
  row-gap: 14px;
  align-items: center;
  justify-content: center;
}

.payment img {
  width: auto;
  height: 43px;
  padding: 0 clamp(14px, 2vw, 20px) 0 0;
  margin: 0 clamp(14px, 2vw, 20px) 0 0;
  border-right: 1px dashed black;
}

.footer-bottom {
  padding-bottom: 20px;
  gap: 12px;
}

.footer-bottom p {
  margin-bottom: 0;
  padding: 0;
}


.payment img:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.contact-info span {
  color: rgba(255, 255, 255, 0.5);
}




@media (max-width:1024px) {


  .gridbox3 {
    flex-direction: column;
  }

  .flx-img {
    width: 100%;
    height: auto;
    margin-top: 20px;

  }

  .features-container {
    justify-content: left;
    padding: 35px 0;
  }

  .feature-card {

    width: calc(50% - 15px);
  }



  .explore_grid,
  .contact-info,
  .subscribe {
    margin-top: 60px;

  }



  .text {
    margin-top: 20px;
  }

  .photos img {
    margin-top: 20px;

  }

  .text-photos-flex {
    flex-direction: column;
  }

}

@media (max-width: 989px) {
  .payment img {
    height: 30px;
  }

  .navbar .primary-menu {
    display: none;
  }

  header#masthead.active .offcanvs-menu {
    display: block;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
  }


  .offcanvs-menu .primary-menu {
    display: block;
  }

  .offcanvs-menu .primary-menu ul,
  .offcanvs-menu .secondary-menu ul {
    flex-direction: column;
  }

  .offcanvas-menu .nav-btn {
    display: block;
  }

  .offcanvs-menu .nav-btn {
    display: none;
  }

  /* #masthead .nav>li:nth-child(odd) {
    background-color: #f9f9f9;
    
  } */


}



@media (max-width: 768px) {


  .offcanvs-menu .nav-btn {
    display: flex;
    margin: 0 5px;
  }

  .header-nav .nav-btn .btn {
    display: none;

  }

  /* .primary-menu ul, .secondary-menu ul{
    display: flex;
    flex-direction: column;
  } */
  /* 
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background: white;
    align-items: flex-start;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }


  .navbar.active {
    background: rgb(255, 255, 255);
    left: 0;
    max-width: 400px;
    height: 100%;
    top: 0;
    width: 100%;
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .navbar .secondary-menu{
    position: relative;
  }

  .navbar ul li a {
    color: grey;

  }

  .navbar ul li {
    padding: 7px 0;
    width: 100%;
  } */


  /* header#masthead.active .offcanvs-menu {
    display: block;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
  }
   */


  .offcanvs-menu .primary-menu {
    display: block;
  }

  .offcanvs-menu .primary-menu ul,
  .offcanvs-menu .secondary-menu ul {
    flex-direction: column;
  }




  /* #masthead .nav>li:nth-child(odd) {
    background-color: #f9f9f9;
   } */



.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px; */
  margin: 0 10px;

}


.navbar ul li a:hover {
  color: rgb(10, 66, 12);
}

.dropdown ul li a:hover {
  color: rgb(21, 66, 29);
  background-color: #cdcdcd;
}

.secondary-menu {
  display: block;
}



.gridbox1 img,
.gridbox2 img,
.gridbox img {
  padding: 10px 10px 45px 10px;
}

.explore_grid,
.contact-info,
.subscribe {
  margin-top: 15px;

}


.video-banner {
  flex-direction: column;

}

.video img {
  width: 100%;
}



.ready_section_img {
  width: 150px;
}

.ready_section .container {
  flex-direction: column-reverse;
}

.ready_section_img {
  margin-top: 0;
}

}

@media(max-width: 665px) {

  .parentgrid {
    grid-template-columns: 1fr;
  }

  .gridbox1,
  .gridbox2,
  .gridbox3 {
    grid-column: 1 / -1;

  }

  .feature-card {
    width: 100%;
  }

  .payment img {
    height: 35px;
    padding-right: 15px;
    margin-right: 15px;
  }



}


@media(max-width: 567px) {


  .explore_grid,
  .contact-info,
  .subscribe {
    margin-top: 10px;

  }

  .subscribe img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }




  .explore_grid h3 {
    margin: 0;
  }

  .explore_grid ul {
    margin-left: -25px;
  }

  .photos img {
    width: 100%;
  }
}


@media(max-width: 380px) {
  .handbulb {
    bottom: 12px;
  }

  .offcanvs-menu .dropdown {
    display: block !important;
    /* Always block, control visibility via max-height */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    position: static;
    background-color: white;
    min-width: 180px;
    border-radius: 8px;
    box-shadow: none;
    margin-top: 3px;
  }

  .offcanvs-menu .dropdown.show {
    max-height: 500px;
    /* Adjust if your dropdown content is taller */
  }


  /* 
  .payment {
    flex-direction: column;
    gap: 15px;
  }

  .payment img {
    border-right: none;
    border-bottom: 1px dashed black;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
  } */
}